@font-face {
    font-family:Titles;
    src: url("assets/fonts/Bison-Bold(PersonalUse).ttf");
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.navbar {
    background-color: #05052D;
    color: #F3F3FF !important;
    font-family: "Titles", "Bison Bold";
    font-size: 30px;
}

.title-font{
    font-family:"Titles", sans-serif;
}

.nav-text{

    vertical-align: center;
    margin-left:3vw;
    margin-top:50px;
    padding-top:15px;
    font-size:2.75rem;
}

.nav-right{
    position:absolute;
    right:5vw;
    top:-55px;
}