@font-face {
    font-family:Titles;
    src: url("assets/fonts/Bison-Bold(PersonalUse).ttf");
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.navbar {
    background-color: white;
    font-family: "Titles", sans-serif;
}

.navitem {
    color: black;
    text-decoration: none;
    font-size: 30px;
    -webkit-transition: letter-spacing .3s ease;
    -moz-transition: letter-spacing .3s ease;
    -o-transition: letter-spacing .3s ease;
    transition: letter-spacing .3s ease;
}
.navitem:hover {
    text-decoration: underline #FF7900;
    letter-spacing: 1.5pt;
    cursor: pointer;
}


.title-font{
    font-family:"Titles", sans-serif;
}

.noscroll {
    overflow-x: hidden;
}

.nav-text{
    vertical-align: center;
    margin-left:3vw;
    margin-top:50px;
    padding-top:15px;
    font-size:2.75rem;
}

.nav-right{
    position:absolute;
    right:5vw;
    top:-55px;
}
.bg{
    background-color: #09d3ac;
    width:100%;
    height:100%;
}
.div-border-right{
    height:80vh;
    margin:0 auto;
    border-right: 2px solid #ff7f00;



}
.Comic_button_DC{
    width:100vw;
    height:100%;

    padding:0;
    border:none;
    filter:brightness(60%);
    background-image: url("assets/Img/bgDC2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Titles, sans-serif;
    color:white;
    font-size: 6rem;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease;
    -o-transition: font-size .3s ease;
    transition: font-size .3s ease;

}

.Comic_button_DC:hover{
    /*border:7px solid #ff7f00;*/
    filter:brightness(100%);
    font-size: 9rem;
}
.Comic_button_Marvel{
    width:100vw;
    height:100%;
    border:none;
    padding:0;
    filter:brightness(60%);
    background-image: url("assets/Img/bgMarvel2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Titles, sans-serif;
    color:white;
    font-size: 6rem;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease;
    -o-transition: font-size .3s ease;
    transition: font-size .3s ease;
}
.Comic_button_Marvel:hover{
    /*border:7px solid #ff7f00;*/
    filter:brightness(100%);
    font-size: 9rem;
}

.botoes_esquerda{
    height: 44vh;
}
.container{
    max-width:1500px !important;
    margin:0 !important;
    padding:0 !important;


}

.row{
    margin-top:30px;
}
.img-details{
    border:4px solid #ff7f00;
}
iframe{
    border:4px solid #ff7f00;
}

#left-container {
    height: 100%;

    position: fixed;
    width: inherit;
}

#right-container {
    position: absolute;
}

.searchbar input[type=text]:focus:not([readonly]) {
    border: 1px solid #ffb22e;
    box-shadow: 0 0 0 1px #ffb22e;
}

.listM{
    background-color: white;
    border-radius: 15px;
}

.mainDiv{
    background: white;
}
.btn_list{

    filter:brightness(60%);

    -webkit-transition: filter .3s ease;
    -moz-transition: filter .3s ease;
    -o-transition: filter .3s ease;
    transition: filter .3s ease;
}
.btn_list span{
    width:inherit;
    font-size: 1.30rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;

}
.btn_list:hover{
    filter:brightness(100%);
}
.btn_list:hover span{

    border-radius: 10px;
    opacity: 1;
    background-color:#ff7f00;

}