body {
    font-family: 'Roboto';
    background-image: url("persbw.jpg");

    height: 100%;
    width: 100%;

}
.logo {
    position: relative;
    left: 50%;
}
.noscroll {
    color: black;
    overflow-x: hidden;
}
.boxp {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.caixalogin {
    background: white;
}

.btn {
    background-color: #072938;
    color: #F3F3FF;
    border: solid 1px #F3F3FF;
    transition: all .2s ease-in-out;
}
.btn:hover {
    background-color: #FF7900;
    color: #F3F3FF;
    width: 75px;
    font-weight: bold;
}

.back:hover {
    color: #FF7900;
    font-weight: bold;
}

.btn2 {
    background-color: #072938;
    color: #F3F3FF;
    border: solid 1px #F3F3FF;
}
.btn2:hover {
    background-color: #FF7900;
    color: #F3F3FF;
    width: 90px;
    font-weight: bold;
}

.menu {
    transition: all .2s ease-in-out;
}

.menu:hover {
    color: #FF7900;
}