body {
    font-family: 'Roboto';
    background-image: url("persbw.jpg");

    height: 100%;
    width: 100%;

}
.logo {
    position: relative;
    left: 50%;
}
.noscroll {
    color: black;
    overflow-x: hidden;
}
.boxp {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 3px #FF7900;
}
.caixalogin {
    background: white;

}

.btn {
    background-color: black;
    color: #F3F3FF;
    border: solid 1px #F3F3FF;
    text-transform: uppercase;
    -webkit-transition: background-color, letter-spacing .3s ease;
    -moz-transition: background-color, letter-spacing .3s ease;
    -o-transition: background-color, letter-spacing .3s ease;
    transition: background-color, letter-spacing .3s ease;
}
.btn:hover {
    color: white;
    background-color: #FF7900;
    font-weight: bold;
    letter-spacing: 1pt;
}

.back {
    color: black;
}
.back:hover {
    color: #FF7900;
    font-weight: bold;
}

.btn2 {
    background-color: #072938;
    color: #F3F3FF;
    border: solid 1px #F3F3FF;
}
.btn2:hover {
    background-color: #FF7900;
    color: #F3F3FF;
    width: 90px;
    font-weight: bold;
}

.menu {
    transition: all .2s ease-in-out;
}

.menu:hover {
    color: #FF7900;
}

.texto {
    line-height: 23pt;
    text-align: justify;
}