@font-face {
    font-family:Titles;
    src: url("../assets/fonts/Bison-Bold(PersonalUse).ttf")
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
.nav-bg{
    background-color: #050526;
    height:11vh;
    width:100vw;
    padding:20px 40px;
}
.title-font{
    font-family:"Titles", sans-serif;
}

.nav-text{

    vertical-align: center;
    margin-left:3vw;
    margin-top:50px;
    padding-top:15px;
    font-size:2.75rem;
}

.nav-right{
    position:absolute;
    right:5vw;
    top:-55px;
}